@import "styles/mixins";

.list {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid color(barelyVisibleGray);
}

.listLight {
  border-color: color(barelyVisibleGray30);
}

.listButtons {
  border-bottom: none;
}

.item {
  &:not(:first-child) {
    margin-left: 2.6rem;
  }
}