@import "styles/mixins";

.wrapper {
  opacity: 0.6;
}

.label {
  display: inline-block;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}

.wrapperRequired {
  .label {
    &::after {
      content: "*";
      font: inherit;
    }
  }
}